[2020-10-05 15:15] chris-greening opened #9 "Login to Instagram"
**Is your feature request related to a problem? Please describe.**
Depending on usage, this library won't work as intended because Instagram seemingly checks cookies to make sure the user isn't a random bot. If using instascrape from a personal computer that has been logged into Instagram before, this doesn't seem to be a problem. Unfortunately, the library breaks if trying to use it from say a re

[2020-10-05 15:20] chris-greening opened #10 "Unit testing"
**Is your feature request related to a problem? Please describe.**
Want to get some simple unit tests going to make sure nothing critical breaks as changes are made, will continue developing this in the future

**Describe the solution you'd like**
Write some tests for the library

**Describe alternatives you've considered**
N/A

**Additional context**
I'm going to start working on this soon but wo

[2020-10-05 22:52] dragid10 commented on #10
I'd be open to taking this on!

[2020-10-06 00:01] chris-greening commented on #10
Awesome! Go for it man, thanks for contributing

[2020-10-06 00:17] dragid10 commented on #10
@chris-greening Is there any preferences for testing suites? I typically use pytest myself, but if you have a different preference let me know.

Also I was planning on creating a test folder like so:

├── LICENSE
├── README.md
├── SECURITY.md
├── docs
├── examples
├── instascrape
├── media
├── pypi.bash
├── requirements.txt
├── setup.py
├── **tests**
└── venv

[2020-10-06 00:49] chris-greening commented on #10
Great minds think alike 😎  that was the exact direction I was gonna go

[2020-10-06 05:05] chris-greening opened #13 "Add some docstrings"
**Is your feature request related to a problem? Please describe.**
Add some docstrings to places they're missing to improve the documentation for this repo.

**Describe the solution you'd like**
Docstrings in [numpy](https://numpydoc.readthedocs.io/en/latest/format.html) style

[2020-10-06 07:16] abhisht51 commented on #13
Hi,
I went through the several python files and I noticed the docstrings were already present in most of them. Where exactly are do you want me to add docstrings? I don't suppose class methods / internal functions would require them. @chris-greening

[2020-10-06 08:18] MNISAR commented on #9
I do not think one can bypass the 2 factor authentication. What we can do is that use email as 2-factor authentication and then add a simple code to extract code from email and then login for first time (we do not need to worry for next login). From this ```https://github.com/timgrossmann/InstaPy/blob/master/instapy/login_util.py``` you can see that they have made ```bypass_suspicious_login``` met

[2020-10-06 18:12] chris-greening opened #14 "Update the README"
Add/update details on the [README](../blob/master/README.md) for this project. Feel free to be creative, we want it to be bright, creative, and exciting! I've been kind of following [pandas](https://github.com/pandas-dev/pandas) README for inspiration but other ideas are absolutely welcome

Some ideas to tackle:
- [ ] update Features section to be more comprehensive
- [ ] add more images/gifs
- [

[2020-10-06 18:27] chris-greening commented on #13
Hey @abhisht51! Thanks for asking, quick fixes you could check out are
- [landing_page.py](https://github.com/chris-greening/instascrape/blob/master/instascrape/landing_page.py)
- [login_and_signup.py](https://github.com/chris-greening/instascrape/blob/master/instascrape/login_and_signup.py)
- [http_error_page.py](https://github.com/chris-greening/instascrape/blob/master/instascrape/http_error_pag

[2020-10-06 18:55] chris-greening commented on #9
@MNISAR, thanks for the info! Funny that you mention `bypass_suspicious_login`, I was literally just looking at instapy's `login_util.py` like two days ago for inspiration.

I'm apprehensive of using `selenium` for this project because I want to avoid the overhead of opening any browsers or needing any drivers. The original inspiration for this project was actually so that it could run automated o

[2020-10-06 20:50] MNISAR commented on #9
Good to hear that my comment was helpful!
Hey also did you check the headless mode in selenium, check [this link](https://www.built.io/blog/run-selenium-tests-in-headless-browser) it says about the benefits of using headless mode in tools such as selenium. (reduces overhead)
One more thing about "remembering login" is using  ```--user-data-dir=chrome-data``` in selenium. It works as if a user is u

[2020-10-06 21:31] chris-greening commented on #9
@MNISAR definitely a solid suggestion, instascrape is a bare bones adaptation of a dynamic scraper I wrote that was Selenium heavy for scraping dynamically rendered Instagram content; it isn't that much of a leap to integrate some optional PhantomJS or headless Chrome action to do that dynamic stuff `requests` just can't do

Certainly food for thought moving forward!

[2020-10-07 22:32] tarob0ba commented on #14
Hi, this is my first time contributing to open source. Can you assign me this?

[2020-10-07 23:26] tarob0ba commented on #14
- [ ] update Features section to be more comprehensive
- [ ] add more images/gifs
- [ ] short snippets/examples
- [x] Dependencies section
- [x] badge(s) that add something meaningful to understanding this repo
- [x] emojis... lots of emojis
- [x] fixed a typo

I didn't make many significant changes, just added a dependencies section with the pip commands to install each library, with a few small

[2020-10-07 23:29] tarob0ba commented on #14
Creating a PR now...

[2020-10-07 23:38] tarob0ba commented on #14
PR created, will sit tight and do other stuff.

[2020-10-08 23:29] tarob0ba commented on #14
Wrote a demo program that looks at the profile data of Google and puts it into a CSV using Pandas. Would you like me to add its source to the readme as a supplement to the profile section under features?

[2020-10-08 23:37] chris-greening commented on #14
I love to hear it!!! There's actually an examples folder that I think this would be perfect for if you want to add it as a dedicated file into that directory! Thanks so much for the contributions ❤️

[2020-10-08 23:50] tarob0ba commented on #14
You're welcome, I'll make a pull request with the file uploaded. Feel free to look at the source; I had to do it in multiple steps in order to achieve the end goal. How would I incorporate black styling to match everything else?

[2020-10-09 00:13] tarob0ba commented on #14
PR created! 😁
I love this project and will continue to contribute in any way I can!

[2020-10-09 01:32] chris-greening commented on #14
For the black styling you can do `pip install black` and then navigate to the root directory and type `black .` and that's it!!! I'm not too worried about enforcing black styling right now so if you don't do it on your PR's, no worries

I'm honestly really glad to hear you like the project though lol, this is my first open source and I'd love for people to get use out of it

[2020-10-09 01:35] tarob0ba commented on #14
Might make another screenshot / script analyzing a random hashtag and plotting it using MatPlotLib. Stay tuned!

[2020-10-09 01:37] tarob0ba commented on #14
Me, realizing that already exists: 😂

[2020-10-09 03:18] chris-greening commented on #14
@beckettnormington Speaking of hashtag scripts though, I have a real world hashtag analysis program that uses instascrape [here](https://github.com/chris-greening/hashtag-analysis) if you wanna check that out. The plan is to launch it on PythonAnywhere but that's been sidelined until I can figure out how to solve Issue #9 lol but it works great otherwise if you want to tinker with it

[2020-10-09 11:21] tarob0ba commented on #14
Alrighty, will check that out. Thanks again! ❤️

[2020-10-09 13:59] PriyanshTri commented on #14
can I help with this issue?

[2020-10-09 14:10] chris-greening commented on #14
@PriyanshTri go for it! Feel free to submit a PR and I'll give it a look 😄

[2020-10-09 17:00] chris-greening opened #18 "Examples"
Provide simple and/or complex examples showcasing the different ways you can use instascrape.

Jupyter Notebooks explaining your examples in detail are encouraged but not required!

[2020-10-09 17:09] tarob0ba commented on #18
I guess I could give this a shot...

[2020-10-09 17:19] Paola351 commented on #18
I can provide some examples too :D

[2020-10-09 17:25] tarob0ba commented on #18
Working on converting that CSV example to IPython

[2020-10-09 17:25] tarob0ba commented on #18
Then getting to an actual example.

[2020-10-09 17:34] chris-greening commented on #18
@Paola351 Go for it!!! Feel free to make it as simple/complex as you want, I love to see what people come up with. If you're familiar with Jupyter Notebook and want to do a detailed writeup that would be welcomed but is not mandatory.

[2020-10-09 17:38] Paola351 commented on #18
Ok! I will code a simple Jupyter notebook able to load the library, load a profile, retrieve the post with maximum number of likes of that profiles, it is ok for you? @chris-greening

[2020-10-09 17:39] chris-greening commented on #18
@beckettnormington Your example actually gave me an idea for a [to_csv](https://github.com/chris-greening/instascrape/blob/master/instascrape/json_scraper.py#L107) method so now you can write straight to .csv without the overhead of creating a `pandas.DataFrame` prior. If you want though feel free to continue with your implementation of the DataFrame, I like the emphasis of integrating `pandas` wh

[2020-10-09 17:44] chris-greening commented on #18
@Paola351 That would be an awesome example! You'll likely have to implement some sort of dynamic functionality if there are more than like 10 posts on a profile to get all the posts because of AJAX. If you check out [profile_scrape.py](https://github.com/chris-greening/instascrape/blob/master/examples/profile_scrape/dynamic_profile.py) there's a subclass of [Profile](https://github.com/chris-green

[2020-10-09 17:58] tarob0ba commented on #18
Alrighty, I'll make 2 versions! I'm currently adding detailed explanations to each snippet / line.

[2020-10-09 18:23] tarob0ba commented on #18
First CSV example converted to IPython. Now gonna work on a fun Matplotlib example comparing the Big Tech companies' posts and likes to see which one has the best reception overall.

[2020-10-09 18:59] tarob0ba commented on #18
Selenium didn't detect ChromeDriver, so that dampened my plans. 😞

[2020-10-09 19:02] chris-greening commented on #18
@beckettnormington You'll have to download a [chromedriver](https://chromedriver.chromium.org/) compatible with your version of chrome/OS. See [this link](https://stackoverflow.com/questions/42478591/python-selenium-chrome-webdriver) for details

[2020-10-09 19:05] tarob0ba commented on #18
I used the latest stable release for Windows 10 and added it to PATH, but it still wasn't detected.

[2020-10-09 19:08] chris-greening commented on #18
@beckettnormington I've had the same problem in the past, try passing the path to your driver with `selenium.webdriver.Chrome(executable_path=r'C:\path\to\your\chromedriver.exe')`

[2020-10-09 20:04] tarob0ba commented on #18
Alright, will try! I converted my Instagram CSV example to IPython. PR: #20

[2020-10-10 11:53] Paola351 commented on #18
I've checked that but it seems not working. Once i open the apple page on instagram, neither images are loaded or posts' info retrieved. I think It's a little bit trickier than i though :S

**P.S.**.
nevermind, i figured it out

[2020-10-11 14:53] jcesteves opened #24 "Import Error cannot import name 'exceptions' from 'instascrape.exceptions'"
![image](https://user-images.githubusercontent.com/13789419/95681829-4e458900-0bb8-11eb-8436-3a0af9005b8b.png)

[2020-10-11 16:00] #18 closed, assigned to tarob0ba, Paola351

[2020-10-11 16:07] chris-greening commented on #24
Hey there @jcesteves , thanks for bringing this to my attention. I'm not able to reproduce this error on my machine, could you provide more context for the error occurring? The stack trace or general context surrounding the error appearing should be good

[2020-10-11 19:29] fernando24164 commented on #24
Hi, maybe your python version is lower than 3.7 in this case you should upgrade it to use this library.

[2020-10-14 00:48] tarob0ba commented on #14
I made a badge that **might** interest you. Details: https://github.com/chatter-social/chatterware

[2020-10-14 16:22] NivardoX commented on #9
Hey @chris-greening, have you seen [this ](https://github.com/softcoder24/instagram-share-post/blob/master/instagram.py) approach? It had some recent updates. Perhaps is a good way of avoiding selenium and heavier tools.

[2020-10-14 16:27] chris-greening commented on #9
That's exactly the idea I was going for! Definitely looking to use `requests.post` if it's possible. I'll tinker around with this later today, thanks for the reference 😏

[2020-10-14 16:30] NivardoX commented on #9
Awesome, when you start coding this, tag me for help. I would love to help you w this.  😄

[2020-10-15 23:42] tarob0ba commented on #14
Anything that I can improve?

[2020-10-16 00:06] chris-greening commented on #14
@beckettnormington I'm doing a massive update that's going to greatly improve the library but introduce a ton of breaking changes so I wouldn't want any work you do to be outdated almost immediately lol, check back in a day or two though and I'll let you know!

[2020-10-16 00:50] tarob0ba commented on #14
Alrighty, thank you!

[2020-10-16 05:38] #10 closed, assigned to nobody

[2020-10-16 05:44] chris-greening opened #29 "Rewrite examples to reflect changes"
There have been recent breaking, backwards incompatible changes and thus, the [examples](https://github.com/chris-greening/instascrape/tree/master/examples) section is outdated and sorely in need of being updated to reflect these changes.

The changes aren't massive so they shouldn't be hard to fix (just slight syntax changes) but they are certainly broken and in need of updating.

[2020-10-16 08:16] o3661606 commented on #29
Will try to fix some (or all) examples

[2020-10-16 15:35] #29 closed, assigned to nobody

[2020-10-17 04:05] chris-greening opened #31 "UnicodeEncodeError when using Post.to_csv if emoji in caption"
**Describe the bug**
If there is an emoji in the caption of a post that has been scraped, it will throw a UnicodeEncodeError when attempting to use `Post.to_csv` instance method to write the data to .csv.

**To Reproduce**

[code]
and this raises
[code]

**Expected behavior**
It's expected that this would write the scraped data to a .csv file

**Desktop (please complete the following information):

[2020-10-17 06:55] satyabansahoo2000 commented on #31
@chris-greening `post.to_csv('test.csv', header=True, index=False, encoding='utf-8')`
I guess this might help. This will encode all the texts into utf-8 format.

[2020-10-19 14:02] tarob0ba commented on #14
Might update README's Table of Contents by removing the link to the non-existing dependencies section and send a PR.

[2020-10-19 17:21] chris-greening commented on #14
@beckettnormington lolol dang forgot to update that, good catch. Could you create a Dependencies section in between Documentation and Contributing that contains links to [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) and [Requests](https://requests.readthedocs.io/en/master/) docs? That'll emphasize that this is a lightweight library for static HTML scraping _only_ and it'l

[2020-10-19 18:35] tarob0ba commented on #14
Sure thing, I'll try to get to that tonight or tomorrow.

[2020-10-19 18:43] chris-greening commented on #14
Sounds good, very appreciative of your help! 😄

[2020-10-21 01:13] tarob0ba commented on #14
Attempted to add dependencies section. PR: #33

[2020-10-22 00:24] benji011 opened #34 "Introduce pre-commit with isort, flake8 & black"
**Is your feature request related to a problem? Please describe.**
I looked around in the docs but couldn't find anything on formatting or linting so I'm wondering if it's okay to add pre-commit config and format the codebase to a set standard. e.g. lines longer than 120 will be detected by flake8 and then reformatted using Black automatically.

**Describe the solution you'd like**
Automate lintin

[2020-10-22 05:29] Siddhant-K-code commented on #14
@chris-greening what more things you want in README.md, I can do it for you.

[2020-10-22 05:31] Siddhant-K-code commented on #14
!Suggestion we can Line of Code (LOC) with `python : 98.8%`

[2020-10-22 05:36] Siddhant-K-code commented on #13
can you please, what is the docstring, in short, I am new in with it, it looks intresting

[2020-10-23 02:59] chris-greening commented on #34
Absolutely!!! That was actually on my laundry list of things to do in the very near future so it's funny that you mention it. Go for it :smirk:

[2020-10-23 03:02] chris-greening commented on #14
@Siddhant-K-code It's really open ended! I'm just looking to expand it to make it as comprehensive and exciting as possible to the layman to get people interested in the project

maybe add a Features section with short intro's to the `Profile`, `Post`, and `Hashtag` objects? Let me know what ideas you have!! I'd love to hear them

[2020-10-23 18:24] #9 closed, assigned to nobody

[2020-10-23 18:25] #34 closed, assigned to nobody

[2020-10-25 02:30] tarob0ba commented on #14
Anything I can do to help improve any existing materials or new things?

[2020-10-26 07:16] chris-greening commented on #13
They are used for documenting Python code! Check out [this](https://realpython.com/documenting-python-code/) link for more information :smile:

[2020-10-26 07:22] chris-greening commented on #14
If there are any ideas you have for new features, feel free to open a new issue to get a dialogue going! I think the README is good for now so I'm gonna close this issue and open some more over the next few days with some ideas I have for improvements so keep an eye out :smile:

Probably gonna write some more blog posts and refactor some stuff so there'll also be that to look for as well  :smirk:

[2020-10-26 07:22] #14 closed, assigned to nobody

[2020-10-26 14:01] Devarsh-leo commented on #31
Can I send pull request for this bug?

[2020-10-27 03:13] chris-greening commented on #31
@Devarsh-leo go for it!!!!

[2020-10-27 05:19] chris-greening opened #38 "Add unit tests"
Add some unit tests that greater cover the codebase

Feel free to submit a PR with even just one or two tests, any help would be much appreciated

[2020-10-28 22:57] chris-greening opened #39 "Create simple examples"
Create some simple examples showcasing different ways of using instascrape

[2020-10-30 02:44] tarob0ba commented on #39
I’d love to give this a shot!

[2020-10-30 05:57] chris-greening commented on #39
Go for it!! Get creative, I'd love to see what you come up with :~] I made the objects much more flexible with the v1.0.0 release so I'd love to see some experiments with them.

They can now be instantiated with HTML, JSON, BeautifulSoup, URL, etc. and will determine the best way to parse based on what was passed in 😏😏😏 I'll make a blog post with more details sometimes soon but ya, tldr go nuts!

[2020-11-02 02:37] #31 closed, assigned to nobody

[2020-11-04 03:57] tarob0ba commented on #39
Sorry for the inactivity. I’m working on something now!

[2020-11-04 20:44] chris-greening commented on #39
Totally no worries!!! Take as long as you need

[2020-11-08 14:35] klabertants opened #41 "Empty field in scrapped profile"
**Describe the bug**
Profile fields after scrapping are empty.

**To Reproduce**

Code
`profile = Profile("hm")`<br>
`profile.scrape()`<br>
`profile.username`<br>

Gives the output
``
nan
``

**Expected behavior**
Right output (in this case "hm")

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04 (LTS) x64
 - Python 3.8.5
 - insta-scrape==1.1.0

[2020-11-09 18:57] chris-greening commented on #41
Hello @klabertants ! Thanks for opening an issue

I wasn't able to reproduce the missing field value, it works fine for me. Can you show me what you get in `profile.json_dict`?

[2020-11-10 19:55] olidroide commented on #24
Hi @chris-greening thanks for this amazing project :) I want to use it and I create a new Python project from scratch to do some tests with this library but I can't follow the examples by the same reason of @jcesteves problem:
[code]

I have a `venv` with these dependencies installed
[code]
I could provide any information as you need it, I'm on Python3.8 with Manjaro OS

Thanks for all!

[2020-11-11 01:56] chris-greening commented on #24
Very strange @olidroide! Thanks so much for bringing this to my attention, I'm gonna get to the bottom of this right now and will update with my findings

[2020-11-11 03:04] chris-greening commented on #24
@olidroide okay, it should be good to go. Really finnicky situation but I think there's a circular import situation going on somewhere that I have to track down; I commented out anything involving custom exceptions for the time being 🤠

Anyways, thank you for your patience!!! I'm going to work on updating/adding examples right now so keep an eye out for that 😄

[2020-11-11 03:04] #24 closed, assigned to nobody

[2020-11-11 07:16] olidroide commented on #24
Thanks @chris-greening for your time and your contibution :)

[2020-11-11 07:38] olidroide opened #44 "lxml lib requirements"
Required  lxml lib by beautifulSoup parser initialization in
https://github.com/chris-greening/instascrape/blob/d1700be941355096dc59376c65769789fcb5fe5e/instascrape/core/_static_scraper.py#L240

## Steps to reproduce
1. Clone the repository
2. Copy instascrape/instascrape folder to the root of another project to use it
3. pip3 install from requirements.txt
4. Make a simple profile scrape:
[code]
5

[2020-11-11 17:34] chris-greening commented on #44
Great catch!

Resolved #43

[2020-11-11 17:34] #44 closed, assigned to nobody

[2020-11-16 19:28] tarob0ba commented on #39
Almost ready... 😄

[2020-11-30 17:21] tarob0ba commented on #39
I was finally able to think of a good / comedic concept. I'm whipping up a PoC now

[2020-11-30 21:17] #38 closed, assigned to nobody

[2020-11-30 21:17] #13 closed, assigned to nobody

[2020-11-30 21:20] #41 closed, assigned to nobody

[2020-11-30 21:21] chris-greening commented on #41
Gonna close this for the time being until more info is provided/someone else has the same issue. Let me know if the issue persists and I will reopen it 👍

[2020-12-10 13:19] Sebsebzen opened #49 "Scrape by location id"
**Is your feature request related to a problem? Please describe.**
For my project I would like to scrape Instagram media from particular places. I already have found a way to retrieve the place id's.

**Describe the solution you'd like**
Scrape this endpoint: https://www.instagram.com/explore/locations/

[2020-12-10 19:38] chris-greening commented on #49
Solid idea! I'll take a look into this later today and see what I can find 😎 From a quick glance at the JSON data served back at these location pages though, I have a good feeling we'll be able to accomplish something meaningful with a Location page scraper

[2020-12-10 21:38] Sebsebzen commented on #49
Awesome. Looking forward to it!

[2020-12-10 22:53] chris-greening commented on #49
Alright, just pushed this feature in the [v1.4.0](https://github.com/chris-greening/instascrape/releases/tag/v1.4.0) update on GitHub and PyPI. Great idea, thanks for the contribution! I'll look into adding support for scraping the [Location directory](https://www.instagram.com/explore/locations/) pages in the future but for now, check out the version release notes I linked above to see the sample

[2020-12-10 22:53] #49 closed, assigned to chris-greening

[2020-12-13 20:32] #39 closed, assigned to nobody

[2020-12-14 00:44] tarob0ba commented on #39
Sorry for the long delay. Wasn't able to bypass the Instagram login in order to actually scrape the latest comments from your posts and perform sentiment analysis on them, and I don't feel like signing my life away to Facebook. I'll try a bit harder or to fix issues that I can.

[2020-12-14 00:48] chris-greening commented on #39
Interesting that you mention sentiment analysis on comments, I literally just got an email from someone this morning about doing that exact thing lol, I'll see about writing a blog post on the topic. Totally no worries about delay though lol do what you can when you can, I appreciate any help you can provide!

[2020-12-17 19:35] emilheunecke opened #56 "Broken on Python3.8.5 / WSL2 / Ubuntu 20.04"
[code]

[2020-12-17 19:46] chris-greening commented on #56
Hello! I'm not able to reproduce this error, were you able to use the library at all prior to this or did this occur as soon as you started?

[2020-12-17 19:47] emilheunecke commented on #56
Strange! It occurred as soon as I started.

[2020-12-17 19:57] chris-greening commented on #56
Does printing `google.html` give you anything? If so can you post the result here?

I had this exact same problem about a week ago because Instagram started hitting me with 429 HTTP status codes on every single request, I ended up fixing it by passing in a proper default User-Agent in the request header but it seems like you might be getting the same problem

[2020-12-17 20:00] emilheunecke commented on #56
Also tested on Python 3.9.1 on Debian Buster using Docker:
[code]

[2020-12-17 20:00] emilheunecke commented on #56
[code]

[2020-12-17 20:11] chris-greening commented on #56
Hmmm I've never seen that before and I've seen quite a lot of Instagram errors

okay last two questions lol, can you try `requests.get('https://www.instagram.com/google/')` and print the result? Also are you able to login normally in your browser to Instagram?

[2020-12-17 20:13] emilheunecke commented on #56
What do you know, reboot fixed it.

[2020-12-17 20:14] #56 closed, assigned to nobody

[2020-12-17 20:14] chris-greening commented on #56
lol when in doubt, reboot! Awesome, thanks for update 😎

[2020-12-27 21:23] jacksonw765 opened #62 "Unable to download Instagram Videos"
When I run this code.

[code]
I get this error. I am testing to try and download a video from instagram. Any assistance would be appreciated. It works fine when downloading images.

[code]

[2020-12-27 23:35] chris-greening commented on #62
Hello Jackson!

`get_recent_posts` returns an unscraped `Post` object so all you have to do is call `scrape` on `x` before using the `download` method. Thanks for pointing this ambiguity out! I will make this exception clearer for future users, your contribution is greatly appreciated :smile:

i.e.
[code]

[2020-12-27 23:35] #62 closed, assigned to chris-greening

[2020-12-28 05:18] jacksonw765 commented on #62
Sorry about that! Thank you for the help. I couldn't find anything mentioned about this in the doc and it worked with photos so I thought I was doing something wrong. Appreciate it.

[2021-01-08 13:07] rajanverma-me opened #69 "Cannot import name 'Profile' from 'instascrape'"
**Describe the bug**
After installation, I tried to run and got this error :
 Cannot import name 'Profile' from 'instascrape'. check below image.

![FireShot Capture 851 - Untitled - Jupyter Notebook - localhost](https://user-images.githubusercontent.com/10785334/104018757-61301f80-51e0-11eb-868f-c02bcbe76050.png)

[2021-01-08 13:11] rajanverma-me commented on #69
I got the problem, it was because the same-named python file present in that location taking priority.

[2021-01-08 13:11] #69 closed, assigned to nobody

[2021-01-09 12:24] UnixCro opened #72 "Why do you make it so difficult?"
I have installed insta-scrape, why can't I just enter it in the terminal as with other projects and take action from there? Why do I have to write a script to use this program?

[2021-01-09 15:31] chris-greening commented on #72
Hello,

The purpose of this library is to give developers an easy-to-use API for their own Python scripts, not a CLI. I suggest you go try one of those other projects if a CLI is what you're looking for.

If you would like to start a following discussion, please use the [Discussions](https://github.com/chris-greening/instascrape/discussions) section.

Regards,
Chris

[2021-01-09 15:31] #72 closed, assigned to nobody

[2021-01-25 10:31] Matteoo98 opened #77 "Question"
Hi, i'm using using your library and i really love your work. I have a question regarding the post scraping, when i scarpe a post it shows me all the informations related but for the images only a link of the first picture of the post, but often the posts has many pictures in a post. How can i obtain from a post all links to all the picture inside it and not only the first ?

[2021-01-25 12:52] Matteoo98 opened #78 "Login"
Hi, i'm receiving always the error : "InstagramLoginRedirectError", so i want to login.
Taking as example your code :
# Instantiate the scraper objects
`google = Profile('https://www.instagram.com/google/')`
# Scrape their respective data
`google.scrape()`

How can i login with username and password ?

[2021-01-25 14:06] tarob0ba commented on #78
Based on what I've seen in the source, I believe (~95%) that you should pass your Instagram session id to the ```scrape``` method as indicated by the exception, but you should confirm with @chris-greening, since I don't have an account to test this.

[code]

[2021-01-26 06:17] chris-greening commented on #78
@beckettnormington nailed it exactly, thank you so much!

@Matteoo98, Instagram has been making it increasingly harder to scrape data from their platform so for the most part, you will have to pass a valid session ID as a cookie (as shown above in Beckett's sample code).

Unfortunately, instascrape itself doesn't provide login capabilities as of right now because it runs the risk of getting an acc

[2021-01-26 06:17] #78 closed, assigned to nobody

[2021-01-26 06:42] chris-greening commented on #77
Hello!

That's a feature I've been planning but haven't gotten around to yet; I just went and looked at the JSON served back from a post with multiple images and it is certainly possible to scrape. I'll bump this to the top of the priority list and have it released sometime in the next few days as a new feature with the next minor version release!

In the meantime, when you want URL's for every im

[2021-01-26 06:42] #77 closed, assigned to chris-greening

[2021-01-26 10:04] Matteoo98 commented on #77
Thank you very much you helped me a lot

[2021-01-26 10:08] Matteoo98 commented on #78
Yes this would avoid problems, but how long does the session last ? I think that would be more efficent if i will implement a login first then get the sessionid and each time control the validity and in case repeat the login. What is your take on this ?

[2021-01-26 11:50] Matteoo98 opened #79 "Function get_posts return always 12 posts"
Hi, sorry for bothering you again. As you see in the title each time i run get_posts on a instagram profile it return always 12 posts.
My code is :
`sessionid = '********************`

        lista = []
        # headers = {"User-Agent": "user-agent: Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Mobile Safari/537.36 Edg/87.0.664.

[2021-01-26 13:02] tarob0ba commented on #79
Hm... this is a tough one. While `get_recent_posts` can only return up to 12, you're using plain `get_posts`, so that shouldn't be a problem. I'll see if I can replicate this. Time to get use the webdriver for the first time. 😄

By the way, you're not disturbing anyone here. 🙂

ping: @chris-greening

[2021-01-26 13:09] Matteoo98 commented on #79
Thank you very much, i hope you'll find a solution because i really need this library for a project.
Let me know as soon as you can if you find a solution to this problem 🙏 .

[2021-01-26 13:38] tarob0ba commented on #79
I hate to say this, but I'm helpless right now because I don't have an Instagram account and I can't confirm that a change "works" because I get an `InstagramLoginRedirectError` 100% of the time. I'll keep looking into the source, but you're probably going to have to wait for Chris to help. Sorry for any inconvenience, but I'll keep trying.

[2021-01-26 14:04] Matteoo98 commented on #79
In fact i have created a fake instagram account for my purpose because without an account the library doesn't work.
Anyway thanks for your help and don't worry , i will wait the help of @chris-greening .

[2021-01-26 16:23] chris-greening commented on #79
No disturbance at all!

You'll have to login manually once the webdriver opens. `get_posts` has a `login_first` parameter that will take you to the login page for 60 seconds prior to scraping if you pass it as `True`. Try modifying your `get_posts` to this line of code

[code]

I also recommend adding a `time.sleep` for ~10 seconds between each scrape if you're able! I know it's inconvenient but I

[2021-01-26 17:10] wullish opened #80 "Generate CSV"
Hi Chris,

How can I generate the same type of CSV file that you provided? I mean with all informations organized.

Best.

[2021-01-26 17:48] Matteoo98 commented on #79
This could be a very problem for me because i need an autonomous software and i can't login manually... Is there a way to avoid the manually login ? Or if it is mandatory how can i pass username and password to the driver to do it automatically ?
Is not possible to use the header with the session id like in the scrape method ?
I have read that with selenium i can compile the form passing username

[2021-01-26 18:07] chris-greening commented on #80
Hello! I combined `instascrape` with a `pandas.DataFrame` so that I could leverage the `pandas.DataFrame.to_csv` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).

[code]

[2021-01-26 18:37] wullish commented on #80
Nice man! Thank you, work like a charm. I'm now going to try to fit this into scikit-learn following your jupyter notebook file.

[2021-01-26 18:42] chris-greening commented on #79
I've thought about implementing an automatic login script but the problem with simply getting the elements and sending the keys is that Instagram will know pretty easily that you're botting. They will likely require some sort of 2FA to verify you're a human using the platform and I've even heard of people's accounts getting temporarily suspended.

Unfortunately `get_posts` needs more than just the

[2021-01-26 18:46] chris-greening commented on #80
Love to hear it 😍 I've been busy with some other projects lately but I've got some hot ideas for scikit-learn and an online data dashboard for analyzing `instascrape` data, keep an eye out for that 😏

Best of luck! I'd love to see what you come up with in the [Discusssions](https://github.com/chris-greening/instascrape/discussions)

[2021-01-26 18:46] #80 closed, assigned to chris-greening

[2021-01-28 17:04] Matteoo98 commented on #79
Ok thanks for your help , i think the problem is going to be bigger than my ability but thank you for all 💯

[2021-01-29 19:44] Matteoo98 commented on #79
Hi @chris-greening  , after a lot of work i finally realized my purpose.
I was able to use the get_post method to get all posts on a page and not just 12. What I did was use this extension [https://chrome.google.com/webstore/detail/cookie-editor/hlkenndednhfkekhgcdicdfddnkalmdm]()  to get the json of the cookies of a session opened on instagram where I was logged in (but could be implemented with

[2021-01-29 22:58] chris-greening commented on #79
Thanks so much for posting your findings, I'm glad you were able to find a solution!

I'm certainly gonna look into this as this would open up new possibilities for the library. The only thing I would be worried about is Instagram checking the IP of the machine you're scraping from and realizing two machines in wildly different locations are using the same cookies; let me know if you run into prob

[2021-01-29 22:58] #79 closed, assigned to nobody

[2021-01-30 22:16] jaeseongpark91 opened #81 "email / followers (not the number of followers, but the list of followers)"
Thank you for sharing this. It's awesome and really helpful.

I am looking for 'email' and 'list of follower' (not the number of followers) info.

Would it be possible to increase your scraped data points?

Thank you in advance!

[2021-01-31 21:13] boompig opened #82 "profile_pic_url and profile_pic_url_hd give incorrect values when using session ID"
## Code to Reproduce

Let's use Kim Kardashian's IG account as a good example. The session ID can be retrieved in the usual way.

[code]

This yields correct data in all the fields I checked except the `profile_pic_url` and `profile_pic_url_hd`, where the URL sends me to my own profile picture (for my session ID). Possibly this is an IG anti-scraping technique?

## Version

latest install as of th

[2021-02-01 10:05] dtrillo opened #83 "Add proxy options"
I am trying InstaScrape but I need to set a proxy (otherwise I have an error). How do I have to proceed?

[2021-02-05 01:52] MattPChoy opened #86 "Instagram Web-Scraping Bugs"
### **Describe the bug**
When using the Selenium webdriver, I get an error saying that Profile.url isn't a String (it's a NoneType object).
When forcing it to be set by `Profile.url = url_string`, I get a bs4 error:
[code]
### **To Reproduce**
Steps to reproduce the behavior:
**First Error:** Header file not working. Reproduce by running the following script
[code]

### **Expected behavior**
A cle

[2021-02-05 05:16] chris-greening commented on #83
Hello! What is the error that requires the use of a proxy?

Unfortunately using proxies isn't a feature that is supported out of the box but you can probably brew up your own solution using `requests` builtin proxy support. `instascrape` can scrape data from HTML so you can use `requests` (with your needed proxies) to request data and then pass the response's HTML into an `instascrape` scraper to

[2021-02-05 05:57] chris-greening commented on #82
Hello!

Yeah, Instagram has been switching things up a lot the last month or so 😅

The bug is occurring because passing a sessionid emulates requesting from a logged in account and when you're logged in, the JSON they serve back is slightly different.

I just patched it to work regardless of sessionid and pushed it to PyPI, check [v2.1.2](https://pypi.org/project/insta-scrape/)! Thanks for reachin

[2021-02-05 05:57] #82 closed, assigned to chris-greening

[2021-02-05 06:14] chris-greening commented on #81
Hello, thanks for the ideas! 😄

Unfortunately email is no longer possible to scrape as far as I know; it used to be supported but Instagram pulled email visibility from the webapp a couple months ago 😢

As for the list of followers, that's definitely something I was looking into introducing but Instagram was being tricky with some of the tests I tried. I'll do some research in the morning but it m

[2021-02-05 13:46] tarob0ba commented on #86
Try the following to resolve an external dependency:

[code]

Explanation:
That error is related to a missing package (the ```lxml``` parser), which ```instascrape``` calls when scraping a profile and extracting posts.
(I think, confirm with @chris-greening)https://github.com/chris-greening/instascrape/blob/354becdf123592fa01933816cb75954e870fa988/instascrape/scrapers/profile.py#L153

[2021-02-08 17:44] dtrillo commented on #83
Yes, the point is to prepare "something" that you can add to `request `. I did it in other projects but the problem within `instascrape `is that I don't know how to acccess `request `to set my proxy credentials.

[2021-02-08 19:08] redrossa opened #87 "Add load image from url"
Hello! I'd like to add a simple feature of loading an image given the URL like `load_image_file`. What do you think?

[2021-02-09 23:48] AdeBlanche opened #88 "Always saves login users biography"
**Describe the bug**
The biography returned is always that of the login user.

**To Reproduce**
Script that gives the wrong output:
from instascrape import *

SESSIONID = ' xxx '
headers = {"user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Mobile Safari/537.36 Edg/87.0.664.57",
           "cookie": f"sessionid={SESSIONI

[2021-02-10 15:10] alessandro-sassi opened #89 "MissingCookiesWarning and InstagramLoginRedirectError when using session id"
**Describe the bug**

As the title
[code]
**To Reproduce**
[code]

 - OS: Windows 10
 - Browser chrome
 - Version 88.0.4324.150 (Official Build) (64-bit)

**Additional context**
I got the session id as described in http://valvepress.com/how-to-get-instagram-session-cookie/.
Just trying some code got from the posts, don't know why it's not working.

[2021-02-10 19:51] marco97pa opened #90 "Wrong profile_pic_url_hd and biography when passing SESSION_ID"
## Describe the bug
If we pass a valid **SESSION_ID** cookie to the scraper, the values **profile_pic_url_hd** and **biography** of the Profile are wrong.

## To Reproduce
### Code
Run this code by providing a valid **instagram_sessionid**
[code]

### Expected output
We expect the output to print the profile pic url and biography of [@roses_are_rosie](https://www.instagram.com/roses_are_rosie/):
[

[2021-02-12 13:53] Tayzerdo opened #92 "Get the first comment"
Hey hey Chris,

First of all, great job with this package, it's really interesting and so useful. Is there a way to add a tool to retrieve the first comment on the post? Maybe that will be interesting because some users add the hashtags on the first comment after posting the photo/video on the feed.

Is there a way to do it?

Thanks in advance

[2021-02-17 10:20] UtpalDas6 opened #95 "ImportError: cannot import name 'extract_email' from 'helpers'"
ImportError: cannot import name 'extract_email' from 'helpers'

[2021-02-17 18:17] HuunoAdmin opened #96 "Reels views"
When I retrieve viewcount of a REEL post, I get a number that is lower of the real one that I see on Instagram. This doesn't happen with the normal VIDEO posts, only with REELS. How do you get this number?

Thanks

[2021-02-18 06:22] nickhendo opened #97 "Incorrect Full Name being returned for Profile Object"
**Describe the bug**
When creating a Profile object, the `full_name` attribute can be incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Without a sessionid `prof = Profile("https://www.instagram.com/atlassian/")`
2. print(prof.full_name)
3. See that the name returned is `Max Sutton` (when creating this issue) instead of `Atlassian`

**Expected behavior**
Expecting `prof.full_name` t

[2021-02-18 06:39] nickhendo commented on #97
Just noticed this happening with the `username` as well. Added to the PR

[2021-02-18 08:17] HuunoAdmin commented on #96
Got it.

[2021-02-18 08:17] #96 closed, assigned to nobody

[2021-02-20 04:10] raviriley commented on #81
+1 on a list of followers (just the username strings in a list would be great), that's the only reason I installed only to realize this can only return the number of followers.

[2021-02-20 22:15] AgnesLL commented on #88
I have similar issue but it only outputs the bio of the logged in user (myself).

[2021-02-21 01:14] MattPChoy commented on #83
@chris-greening Got some code working to scrape and validate proxies, but am not really sure how your library works. Willing to collaborate on this?

[2021-02-21 01:17] #86 closed, assigned to nobody

[2021-02-25 13:52] daniqueosinga opened #99 "Making a data frame from all instagram posts of a user"
Hi there, I want to make a dataframe from all instagram posts of users (number of likes, tags, number of comments, etc.). I am using these lines of code but how do I make a dataframe from it?
posts = kyliecosmetics.get_posts(webdriver=webdriver,login_first=True)
scraped_posts, unscraped_posts = scrape_posts(posts, headers=headers, pause=10, silent=False)

It does seems to work with this code for t

[2021-02-28 10:08] marco97pa opened #102 "get_recent_posts() raises MissingCookieWarning but we can't pass a valid cookie"
**Describe the bug**
The get_recent_posts() method raises MissingCookieWarning, but we can't pass a valid cookie header to avoid that

**To Reproduce**
[code]

The code is executed correctly but we get a `MissingCookiesWarning: Request header does not contain cookies! It's recommended you pass at least a valid sessionid otherwise Instagram will likely redirect you to their login page.` warning

If

[2021-02-28 10:59] marco97pa commented on #90
Fixed as **instascrape 2.1.2**

[2021-02-28 10:59] #90 closed, assigned to nobody

[2021-03-01 10:38] LarchLiu opened #105 "How to download all photos if post have multiple photos"
As the example of 'download_recent_photos' , it only downloads one image per post. If there are multiple photos in a post, how can i download all the photos?

[2021-03-01 17:44] Svn-Sp opened #106 "Profile object is empty"
When I run
`
from instascrape import * \n
g = Profile("https://instagram.com/google/") \n
g.__dict__
`
The output is: `{'source': 'https://instagram.com/google/', 'url': None, 'html': None, 'soup': None, 'json_dict': None, 'flat_json_dict': None, 'scrape_timestamp': None}`

[2021-03-04 09:23] vordemann commented on #102
Have the same issue!

[2021-03-04 22:33] skyrover7 commented on #81
+1 on list of followers for sure!

[2021-03-09 13:29] ingmferrer opened #107 "Get all post comments"
**Is your feature request related to a problem? Please describe.**
Get all post comments

**Describe the solution you'd like**
Get all post comments similar to get_recent_comments but for all

**Describe alternatives you've considered**
Get all post comments

**Additional context**
If the post has 100 comments, get all comments by paginating (?).

[2021-03-09 16:26] Xerrion commented on #102
I fixed it by passing cookies to Selenium before going to the profile. I do this by exporting the cookies from instagram with the chrome extension Cookie-Editor. And then just copy paste it to cookies.json

[code]

[2021-03-10 00:28] yeamusic21 opened #108 "Get Comments Made"
**Is your feature request related to a problem? Please describe.**
I'd like to extract the # of comments that a user made (either over all time to date, or some fixed period of time, either works for me).

**Describe the solution you'd like**
Similar to how you can scrape how many posts someone has made, I'd like to scrape how many comments someone has made.

**Describe alternatives you've conside

[2021-03-10 19:37] Tayzerdo opened #109 "Generate a .csv from the scrape_posts()"
Hello,

First of all, amazing job with the updates with the instascraper package, the new updates are so awesome

I have a question

I'm using this code below to retrieve the posts information (I based my self on the Joe biden scrape)

[code]

I saw this code to retrieve the information regarding the post, but I'm having some difficult to try to save the post information into a csv or excel file,

[2021-03-11 14:31] gsavvid opened #110 "Scrape user's Reels"
While it's great to have a `Reel` scrapper, it would also be very useful to have a way to retrieve a list of Reels from a user's profile.

For example, have equivalent methods to `get_recent_posts` and `get_posts` (ie. `get_recent_reels` and `get_reels`) which return a list of Reels.

[2021-03-11 15:56] Xerrion commented on #109
You could just do the following.

[code]

But if you are only fetching 2 posts from one account, you could set `scrape_pause=0`, to just let it do it. I normally use 3 seconds and can fetch 1390 posts just fine without being rate limited.

[2021-03-11 16:01] Tayzerdo commented on #109
Hey hey Xerrion, thank you so much for the answer.

The amount 2 was just a test to retrieve the data, forgot to take it out when posting here.

So with your code, am I be able to extract the informaiton regarding each post that we take it from the profile?

[2021-03-11 16:20] Xerrion commented on #109
Should work by creating a csv file for each post with the scraped content.

[2021-03-11 16:28] Tayzerdo commented on #109
Perfect, thanks a lot!!! Just trying here but receiving an error

**InstagramLoginRedirectError: Instagram is redirecting you to the login page instead of the page you are trying to scrape. This could be occuring because you made too many requests too quickly or are not logged into Instagram on your machine. Try passing a valid session ID to the scrape method as a cookie to bypass the login requir

[2021-03-11 17:08] Xerrion commented on #109
Try my solution from issue https://github.com/chris-greening/instascrape/issues/102#issuecomment-794121288, you should then be able to remove the `login=True` param.

[2021-03-11 17:24] Tayzerdo commented on #109
Perfect, thanks a lot

[2021-03-11 18:44] alistvt opened #111 "Downloading stories"
Hello everybody

Does this repo have any feature to support story downloading?

[2021-03-12 00:45] nickhendo commented on #83
@dtrillo We had to solve this problem as well. What I ended up doing was subclassing the `Session` object to pass in to `Profile.scrape`:
[code]
and then using it this way:
[code]

[2021-03-12 02:32] nickhendo commented on #83
The above is only necessary for us for authenticated proxies if you want to keep `trust_env = True` for the Session. Otherwise you can just create a session and add proxies to that without the need for the subclassing

[2021-03-12 15:29] asauce0972 commented on #102
Any way around it so far without selenium?

[2021-03-12 19:19] marcvergees commented on #81
Yes please!!

[2021-03-14 21:42] Tayzerdo commented on #109
Now it is working, I just added a try/exception and is working til the moment

[code]

Thanks a lot for the help @Xerrion

[2021-03-14 21:42] #109 closed, assigned to nobody

[2021-03-17 23:00] yeamusic21 commented on #89
Getting a similar error

[code]

Output
[code]

I redacted personal information and replaced it with vague synonyms.

Also, note that I also followed http://valvepress.com/how-to-get-instagram-session-cookie/ to get a valid session id.

[2021-03-17 23:06] yeamusic21 commented on #102
I get the same error and posted about it at https://github.com/chris-greening/instascrape/issues/89#issuecomment-801495835

[2021-03-19 20:07] yeamusic21 commented on #102
@Xerrion

I spent a lot of time trying this.  Not sure what `cookie.pop("sameSite")` is doing since I don't see any sameSite keys if I call `print(driver.get_cookies())`, so I skipped all that and just ran `driver.add_cookie({'name':'sessionid','value':os.environ['INSTAGRAM_SESSIONID']})` which just resulted in the same MissingCookiesWarning. :-(

**UPDATE:**

So I'm trying this again.  I understa

[2021-03-23 23:31] ardhityawiedhairawan commented on #89
Hi guys.
This way working on me. But, since Instagrm decided only logged users can open their site, its getting hard and hard. I found problem after a few requests, their mark as spam and we should verify account again.

It is happening to you all? Have you solution for this ?

[code]

[2021-03-24 01:05] yeamusic21 commented on #89
I've been combing through this code, and I think I've officially gone mad.  https://github.com/chris-greening/instascrape/blob/master/instascrape/core/_static_scraper.py

[code]

My code includes:  `profile.scrape(headers=headers, webdriver=driver)`
Headers is:
[code]
And webdriver is:
[code]
If I print driver in my code I get:
`<selenium.webdriver.chrome.webdriver.WebDriver (session="##########re

[2021-03-24 01:10] yeamusic21 commented on #102
I've been combing through the code.  Looks like you have to pass your driver to the scrape method as well.  I mention it here https://github.com/chris-greening/instascrape/issues/89#issuecomment-805394041 but I'm still getting the same error even with the driver passed to scrape, which is very weird if you read the code.

[2021-03-29 02:06] miketyj commented on #95
Has anyone solve this?

[2021-03-29 18:18] AryaDeepanshu opened #112 "future feature annotations is not defined (profile.py, line 1)"
**Describe the bug**
Heroku cant find latest version of library, latest possible version showed there is 0.6.6 and secondly after installing 0.6.6 version it shows following error:
`

Django Version: | 3.1.7
-- | --
SyntaxError
future feature annotations is not defined (profile.py, line 1)
/app/.heroku/python/lib/python3.6/site-packages/instascrape/scrapers/__init__.py, line 1, in <module>
/app/.h

[2021-03-30 15:22] yeamusic21 commented on #102
Just noting that this issue has made it pretty much impossible for me to use instascrape for my use case.  Due to this issue and https://github.com/chris-greening/instascrape/issues/89 at this point I've abandoned instacrape.

[2021-04-02 05:26] shaklev commented on #112
You are using python 3.6 version , in the docs. explicitly says:

This library currently requires Python 3.7 or higher.

[2021-04-02 05:28] shaklev commented on #95
You probably messed up the installation ( i did the same mistake ). Instead of `pip install insta-scrape` i did `pip install instascrape`. After uninstalling the `instascrape` package and installing the correct one `insta-scrape` the error dissapeared.

[2021-04-11 09:24] AdeBlanche commented on #88
I made this change manually in my repository and it works very well. Waiting for a merge of the PR.
@chris-greening

[2021-04-11 10:30] katepratik opened #114 "_static_scraper.py wrong json data argument is passed"
_static_scraper.py line no. 155
[code]
**flat_json_dict** object is passed in the argument. Expected argument is **json_dict**.
As wrong argument is passed the `_mappings.py` is returning nan for some of the mapped keys.

For example :
Key "caption" in following function will be nan as flat_json_dict is passed.
[code]

[2021-04-12 18:18] PierreAndreis commented on #111
not yet https://github.com/chris-greening/instascrape/wiki/Scraped-data-points#reel

[2021-04-12 23:04] boscacci opened #115 "Scrape Only Videos?"
**Problem?**
I only need to download videos from IG, not photos. Is there a way I could skip photos while scraping?

**Solution?**
Perhaps a parameter in `get_posts` or `scrape_posts` for `video_only=True` or comparable flag

**Alternatives I've considered:**
https://github.com/drawrowfly/instagram-scraper — not super well maintained!

[2021-04-13 12:11] bogu399 opened #116 "instascrape.exceptions.exceptions.InstagramLoginRedirectError even though I used get_posts([...] login_first=True)"
**Describe the bug**
A clear and concise description of what the bug is.
I used the tutorial code to scrape data from myself and putting straight in csv file, but I always got this error even though get_posts(login_first= True)
The code is from the Joe Biden Tutorial and I just changed the JB's @ to myself.
https://github.com/chris-greening/instascrape/blob/master/tutorial/examples/JoeBiden/joebid

[2021-04-13 17:37] lhkerckh opened #117 "FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?"
**Bug**
I receive the following error:
`FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?`

**To Reproduce**
This happens when running the <profile>.get_posts() function from Profiles

**Expected behavior**
I expected to receive an object containing my posts.

**Desktop (please complete the following information):**
 - OS

[2021-04-16 03:10] fredcobain opened #118 "How do I get all posts from a specific hashtag passing the session id output=csv?"
Is it possible in the current version? Cannot figure out how to do it

[2021-04-16 13:37] youknowmealredy commented on #81
🙏🏻

[2021-04-16 13:44] tarob0ba commented on #117
This was an earlier issue in #44.

Try `pip install lxml` to resolve your issue.

[2021-04-16 21:49] kwj2104 commented on #118
Just chiming in that I'm having the exact same issue and question today after downloading instascrape and trying to work with it. I tried following the same steps as for downloading posts for a profile but the methods for Hashtag are different, I haven't found a way to make them work.

When I try something like:
[code]

This just doesn't work and raises ```InstagramLoginRedirectError```.

[2021-04-26 03:30] yemregundogmus commented on #118
is there any updates?

[2021-04-27 17:49] radoya opened #119 "IndexError: list index out of range"
Hi there.

I am trying to get this script up on Debian / Python3.9 but this is what error I am geting from this simple example:

[code]

[code]

Any idea how to solve this?
Thanks.

[2021-05-01 18:11] nullsaint commented on #102
get_recent_post() always returns 24 post no matter the amount,
can I bypass that? like get all the post?

[2021-05-04 12:36] radoya commented on #119
You should have valid Instagram session ID to be able to scrape content.

[2021-05-04 12:36] #119 closed, assigned to nobody

[2021-05-04 13:06] radoya opened #120 "profile_pic_url missing on post.scrape"
Hi. By trying to scrape post can't get owner profile_pic.

https://pasteboard.co/K0kOXyf.png

Tried with multiple different posts - always get the same.

Is there a way to get it?
Thanks.

[2021-05-09 20:37] yemregundogmus opened #121 "Profile.scrape is_private keeps return True"
To find out if an Instagram profile is private, I send a simple query. However, I am facing a problem like this. Even non-private accounts return as Private.

[code]

i got this

[code]

[2021-06-08 04:55] bazilzainal commented on #117
I've the same issue, even though I have lxml installed. Not really sure how to resolve this.

[2021-06-09 03:51] 59-web opened #123 "[POST MODULE] some post url return NAN value for 'USERNAME'."
First of all, thank you for making this great one.

I'm trying to analysis some posts and i have used 'post module'.
Everything works perfectly except 'username'. Some post url couldn't get 'username' and gave me 'nan' value. (It obviously have an 'username'.)

Can you check this out?
(Please forgive me that It's not my instagram account which I tried to analysis so i couldn't write down the exact

[2021-06-14 15:48] agostini335 opened #124 "get_recent_comments() results in KeyError: 'entry_data'"
**Describe the bug**
calling get_recent_comments from a scraped post results in keyerror: 'entry_data'

headers = {"user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Mobile Safari/537.36 Edg/87.0.664.57",
           "cookie": f"sessionid={SESSIONID};"}

path = "https://www.instagram.com/p/"+s['shortcode']+"/"
p = Post(pa

[2021-06-15 11:54] amysimon97 commented on #99
Just following up on this: Would really like to see if there's an update on this! Need this for a project!

[2021-06-18 19:26] stefco commented on #106
You need to run `g.scrape()` first to actually pull the data, then it should work.

@chris-greening you can close this

[2021-06-19 06:07] stefco commented on #124
Did you use Selenium or a `requests.Session`? The `json_dict` is structured differently in those cases. I made a patch that fixes those cases, will submit in a second.

[2021-06-19 06:29] stefco commented on #115
Use `Post.is_video` to check this. See [this example](https://dev.to/chrisgreening/downloading-an-instagram-profile-s-recent-photos-using-python-25b2) linked in the readme.

[2021-06-19 06:33] stefco commented on #87
Do [`Post.download`](https://github.com/chris-greening/instascrape/blob/master/instascrape/scrapers/post.py#L102) or [`Post._download_photo`](https://github.com/chris-greening/instascrape/blob/ce924b51b5a8c651b2a3606445bd5fe38a2be8ad/instascrape/scrapers/post.py#L158) solve your problem?

[2021-06-19 06:44] stefco opened #127 "Lazy iterator for post discovery"
**Is your feature request related to a problem? Please describe.**

When iterating through a `Profile`'s posts, one does not always know how many posts one needs beforehand. Since posts are fetched iteratively and with high network latency, it makes more sense in such cases to lazily iterate through posts. This also simplifies the implementation of the post fetcher by pushing control flow up to th

[2021-06-22 17:36] jimmyxp01 opened #131 "How to get Photo or video Src ?"
I want the full link of posts. how to extract this?
post link: ``https://www.instagram.com/p/CP5VLwPMnrF/``

Need (Example): `https://instagram.fccu20-1.fna.fbcdn.net/v/t51.2885-15/e35/197884809_865699657359940_2163597179560292049_n.jpg?tp=1&_nc_ht=instagram.fccu20-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=9xGuy1FN8MoAX-Nztrd&edm=AABBvjUBAAAA&ccb=7-4&oh=f0f99f225af923a1b405ceb7546bc4e0&oe=60D9E241&_nc_s

[2021-06-22 18:30] harrssh18 opened #132 "'Reel' object has no attribute 'is_video' Error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
![Screenshot (139)](https://user-images.githubusercontent.com/70218552/122980170-fc473b00-d3b5-11eb-9a4b-f4ea05346024.png)

**Expected behavior**
A clear and concise description of what you expected to ha

[2021-06-22 21:19] Aezingg commented on #114
I have this error when trying to retrieve the captions of a user's posts, anyone have a solution?

[2021-06-29 21:39] Zelatrix opened #133 "JSON list index out of range"
I just discovered this program, and I've been following the tutorial to try and scrape a basic Instagram profile, but I keep getting the same error when I try and run it. Each time I try and run my code, I get an error message about the JSON index being out of range. I'm not really sure why this is happening, and I don't know how to fix it since I can't see the JSON data that's being scraped. The

[2021-06-30 11:09] waqarmuhammad1 opened #136 "Profile block and list index out of range"
I have a question been trying to get posts related to a hashtag(did it with selenium, so I have links to all the posts related to hashtag for example #backyardideas) I have been trying to filter out the posts based on US
and succeeded in filtering it out using the following code:

chrome_options = Options()
ua = UserAgent()
userAgent = ua.random
chrome_options.add_extension('IRM-Chrome.crx')
chrom

[2021-07-01 13:31] devanghingu opened #137 "Got SyntaxError while importing from package"
I just installed latest version of this package in **virtualenv** through pip3.
While importing anything from module i got following error.,
[code]

**Python** version is `3.6.9` and **GCC** version is  `8.4.0`
if you need anything from my end. Please let me know.

[2021-07-01 14:14] devanghingu commented on #137
After reading documentation closing this issue due to lower python version.  :smile:

[2021-07-01 14:14] #137 closed, assigned to nobody

[2021-07-20 05:17] kalebm1 opened #138 "Hashtag Scraper KeyError: 'graphql' when using Selenium webdriver or Sessionid Cookie"
**Describe the bug**
I am trying to scrape posts from a hashtag.
I am have used the both the Selenium driver and headers with a sessionid way of getting around the Instagram redirect to login page error. Before Instagram was redirecting to the login page, I was able to successfully scrape the hashtag with no problem. Once the redirection occurred, I inputted my sessionid into the headers field and

[2021-07-28 00:50] sangwoo0123 opened #139 "Scraping multiple photos in a single post"
Hello - is there a way to scrape all photos when a single post contains multiple photos/videos? As you know, users can upload a collage of photos in a single post. As of now, I believe the given code only scrapes the main photo/video in the front. Each photo has its unique shortcode, so I was hoping this is possible.

[2021-08-02 21:02] monajalal opened #140 "instascrape.exceptions.exceptions.InstagramLoginRedirectError: Instagram is redirecting you to the login page instead of the page you are trying to scrape. This could be occuring because you made too many requests too quickly or are not logged into Instagram on your machine. Try passing a valid session ID to the scrape method as a cookie to bypass the login requirement"
Thanks a lot for the great API. Do you know how I can fix this error?

[code]

[2021-08-07 16:41] NishantPuri99 commented on #124
Hi @stefco ,
Has this update been merged yet?

If not, could you tell me how to work around this issue?
Thanks

[2021-08-07 22:06] stefco commented on #124
@NishantPuri99 It is not merged yet, have not seen feedback on #125. Seems the repository owner is not maintaining this project. I fixed it in the latest version on my fork's master branch, if you want to `pip install` that instead of the official release. Last time I tested, this worked.

[2021-08-08 05:20] NishantPuri99 commented on #124
Ah okay. Thank you so much
I'll use that then.

[2021-08-20 14:34] JWLMSN commented on #99
You need to unpack the list of scraped_posts that has been passed from scrape_posts().
So just use your code but instead of ... = [post.to_dict() for post in posts] do ... = [post.to_dict() for post in scraped_posts]

[2021-09-16 11:58] havelar commented on #138
I'm having exactly  the same problem, and I'm also sending the SessionID in cookies if anyone say it might be the problem... Still trying to understand what could be causing this issue

[2021-09-16 13:12] boscacci commented on #115
Thanks!

[2021-09-16 13:12] #115 closed, assigned to nobody

[2021-09-19 21:21] yemregundogmus commented on #138
I have the same issue when I search using proxy and sessionid. I think the problem is defining the sessionid, that's why missing data is coming. And the library gives error but I couldn't find how to solve it.

[2021-09-22 06:09] Cherchercher commented on #41
post.username is nan sometimes. For example: https://www.instagram.com/p/COSzSS4DQNG/

works around : post.json_dict['graphql']['shortcode_media']['owner']['username']

[2021-09-22 06:36] Cherchercher commented on #123
workaround: username = post.json_dict['graphql']['shortcode_media']['owner']['username']

[2021-09-22 18:19] marco97pa opened #141 "Even after passing a valid cookie, the Instagram account gets disabled (update: permanently)"
Some weeks ago I started noticing a bad behavior: even after passing a valid session_id cookie, the Instagram account used to scrape gets disabled after some requests. I need to log in to the Instagram website and manually verify my account using a phone number in order to avoid that my account gets a permanent ban and get a new session_id cookie.

I think that Instagram enforced this behavior aga

[2021-09-23 16:49] drctoday commented on #78
Hi Chris,

I am pretty sure I am passing the Session Id (from Google Chrome -- Inspect -- Application -- Instagram -- Session Id, and my Instagram account is logged in). However, I still receive a message indicates that I need to pass an active session id as cookie.

"InstagramLoginRedirectError: Instagram is redirecting you to the login page instead of the page you are trying to scrape. This coul

[2021-10-16 15:45] alireza2281 commented on #79
Hello and thanks for your great job
I just wondering if there is any further update about this problem and any other solutions (more automated solutions) rather than downloading login cookies and adding them to the driver to fetch all the posts

[2021-10-26 02:37] albert239825 commented on #133
I have the same issue

[2021-10-27 17:30] lizzywoods commented on #131
check the property of post: flat_json_dict['text']

If you follow [this blogpost](https://dev.to/chrisgreening/downloading-an-instagram-profile-s-recent-photos-using-python-25b2) add in the for-loop the following statement:

for post in chris_photos:
        if 'text' in post.flat_json_dict:
            text= post.flat_json_dict['text']
        else:
            text = "NaN"

The variable text wil

[2021-10-27 17:33] lizzywoods commented on #87
There is an issue with post.download, see [post ](https://chris-greening.github.io/instascrape/2021/01/07/important-planned-features-for-january.html) .
The header with the valid session ID that is created there should also be given to the
requests.get statement inside Post.download, like this:
resp = requests.get(url, stream=True, headers=headers)

Then the function will work without redirecting

[2021-10-31 14:50] spy001s opened #144 "no of profiles during a day"
hi
tanx a lot for this module
how can i extract the no of online profiles druing a day?

[2021-11-01 18:04] chris-greening commented on #144
Hey! I'm not sure but this definitely isn't the library you'll want to use for that. Instagram has strict rules and I'm not sure this is something that can be accomplished. Sorry!

[2021-11-01 18:04] #144 closed, assigned to nobody

[2021-11-01 18:08] chris-greening commented on #111
Hey! Super late reply apologies, just doubling back and closing old issues

Instagram has gotten super strict with what can and can't be done so this likely won't be included in any future updates. Again, apologies on late reply!

[2021-11-01 18:08] #111 closed, assigned to nobody

[2021-11-01 18:11] chris-greening commented on #81
Sorry gang but this feature likely won't come through anytime soon

Instagram has been restricting further and further and making it harder for even simple scrapes. Gonna close this for now 😢

[2021-11-01 18:11] #81 closed, assigned to chris-greening

[2021-11-01 18:11] #112 closed, assigned to nobody

[2021-11-05 02:18] code1dot opened #145 "Cannot retreive video_url from post object"
Hello!

I am trying to retrieve a user's recent posts and get any videos that they have uploaded. My code checks to see if a post is a video by checking for `post.is_video` and then it attempts to retrieve the video url via `post.video_url`. However every time that I try and do so, Python says that the `video_url` parameter does not exist, even after running `post.scrape()`. It throws the error be

[2021-11-05 13:42] code1dot commented on #140
You should get your login `sessionid` cookie from instagram (Using a cookie editor of some sort) and then add it to the headers when you scrape your data:
[code]

[2021-11-05 13:59] code1dot commented on #145
Nevermind, I found out what it was and sent a fix via a Pull Request

[2021-11-05 13:59] #145 closed, assigned to nobody

[2021-11-10 16:08] marco97pa commented on #141
Update: in the following weeks I needed to manually verify my account sending a video as a proof to Instagram

After 2 months my account has been permanently disabled, even if I passed all the video verification above (I am a human, not a bot).

![Screenshot_2021-11-10-16-59-12-327_com instagram android](https://user-images.githubusercontent.com/26876437/141149054-b6b7612d-3b55-4ba3-9d5e-d45bb2a43

[2021-11-20 20:46] jtopper9 opened #147 "Unable to locate file with data dump from posts"
First off - thanks a bunch for making this script available. Very helpful.

The scraper looks to be working fine however I'm unable to figure out where the csv file containing the scraped data is located on my machine. Due to environmental issues i'm running the script through my IDE. Any thoughts?

#from selenium import Chrome
from selenium import webdriver
from instascrape import Profile, scrape

[2021-12-01 23:54] robin-price opened #148 "TypeError: 'NoneType' object is not subscriptable on location scrape"
I get a an TypeError: 'NoneType' object is not subscriptable when I try to scrape a location following the tutorial on your blog

url = 'https://www.instagram.com/explore/locations/73347620/dublin-ireland/'
dublin = Location(url)
dublin.scrape(headers=headers)

then when I try to do anything with get_recent_posts() I get an error

[2021-12-25 17:29] takweb12 commented on #124
hi
how can we get all comments in a post ?
this method just got first page not alll

[2021-12-29 17:24] logbasex commented on #78
I'm facing the same problem.

[2021-12-30 17:08] kyrlon commented on #139
This sounds similar to the a previous issued [post](https://github.com/chris-greening/instascrape/issues/105#issue-818730223). Currently there is a [PR](https://github.com/chris-greening/instascrape/pull/125) for such a request out now.

[2022-01-05 14:10] chaim6888 commented on #83
@chris-greening . I am trying to use proxies with InstaScrape to avoid blocking. I tried the solution of @nickhendo but can't get it to work. Any ideas?

[2022-01-23 11:41] yugkha3 commented on #102
I tried the same thing as he did (adding the cookie manually) but still I'm getting the warning. Like what am I doing wrong?
Here's the code I am using:
[code]

[2022-01-27 19:46] matiastiberio opened #153 "Biography field brings own bio"
Hi!

I'm currently trying to scrape the bio of the page I'm redirecting but instead is bringing my own profile bio:

google = Profile('https://www.instagram.com/fiat_planes/')

google.scrape(headers=headers)

page_data = []

page_data.append(google.biography)
page_data.append(google.followers)
page_data.append(google.posts)
page_data.append(google.username)
df = pd.DataFrame({'Bio':page_data[0], '

[2022-02-14 05:42] ananthan-123 opened #154 "Error : 'Post' object has no attribute 'video_url'"

[2022-02-14 07:07] ananthan-123 commented on #154
weee.memes  -- I tried on this account.
Got list of recent posts.
checked whether it is a video or not.
then tried to download the video.
then got this error

[2022-02-14 07:09] Cherchercher opened #155 "requests lib throwing `Invalid value NaN (not a number)` Error"
Looks to me the HTML content is not returned hence the len is null...?

Value error processing url https://www.instagram.com/p/COSfR9mh4WN/ Invalid value NaN (not a number)

Traceback (most recent call last):
    post.scrape(headers=headers)
  File "/usr/local/lib/python3.9/site-packages/instascrape/scrapers/post.py", line 73, in scrape
    return_instance = super().scrape(
  File "/usr/local/lib/

[2022-02-17 11:06] InzamamAnwar opened #156 "ValueError while Scrapping Posts"
**Describe the bug**
Scrapping post using `Post` method gives error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Dictionary with Keys mentioned in [Wiki-Scrapped Data points](https://github.com/chris-greening/instascrape/wiki/Scraped-data-points#post)

**Desktop (please complete the following information):**
 - OS: [Ubuntu 18.04 LTS]
 - Browser [chrome]

[2022-02-18 04:27] InzamamAnwar commented on #156
@89z Thank You for your prompt reply, But I was looking solution(s) in Python.

[2022-02-20 19:10] Lxand3r commented on #156
where is this suppose to go ?

[2022-03-03 09:21] cxheng315 commented on #107
Still waiting for it

[2022-03-05 14:03] vahidsabet commented on #124
Same question

[2022-03-17 01:55] iCodePoet commented on #156
I have the same problem.

[2022-03-19 01:31] akouirouk commented on #156
I have the same problem as well

[2022-03-20 15:11] UmeSiyah commented on #156
Me too, I have tired with the example script for joebien, get the same error.

[2022-03-20 16:14] gentzeng commented on #156
Likewise

[2022-03-27 12:26] SakPetios commented on #121
Dude i get the exact oposite problem

i am getting this:

`{'logging_page_id': 'profilePage_40975230168',
'show_suggested_profiles': False,
'show_follow_dialog': nan,
'biography': '',
'blocked_by_viewer': False,
 'restricted_by_viewer': False,
 'country_block': False,
 'external_url': None,
 'external_url_linkshimmed': None,
 'followers': 182,
 'followed_by_viewer': False,
 'following': 205,
 'fol

[2022-04-29 03:32] Chocomagma commented on #156
I have the same problem as well

[2022-04-29 03:32] Chocomagma commented on #156
I have the same problem as well

[2022-04-30 19:15] clouedoc commented on #141
I wonder if maintaining an account farm could fix this.

[2022-05-08 16:19] #107 closed, assigned to nobody

[2022-05-13 03:20] kareemrasheed89 commented on #140
This is still not working for me. but still trying

[2022-05-13 03:38] kareemrasheed89 commented on #155
I do we solve using this library

[2022-05-13 03:44] Suizer commented on #156
same issue

[2022-05-17 04:38] basheerpaliyathu opened #159 "KeyError: 'ProfilePage'"
`prof.get_recent_posts(12)
`
gives error : KeyError: 'ProfilePage' on `instascrape/scrapers/profile.py", line 39, in get_recent_posts`

[2022-06-05 13:31] botkeshav opened #160 "Getting an Error while I call method "scrape""
line 14, in <module>
   google_reel.scrape(headers=headers)
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/instascrape/scrapers/post.py", line 88, in scrape
    return_instance.upload_date = datetime.datetime.fromtimestamp(return_instance.timestamp)
ValueError: Invalid value NaN (not a number)

I am getting this error every time i am calling scrape method regardless of  its type on w

[2022-06-08 03:14] haresh14 commented on #160
I am also facing the same issue

[2022-06-08 03:18] haresh14 commented on #78
I am facing the same problem

[2022-06-28 16:28] mariodias opened #162 "ValueError: Invalid value NaN (not a number)"
it is not possible to scrape the Post class, follow error:

ValueError                                Traceback (most recent call last)
[<ipython-input-55-c1fe6055540f>](https://localhost:8080/#) in <module>()
      6 # Scrape their respective data
      7 google.scrape(headers=headers)
----> 8 google_post.scrape(headers=headers)
      9 google_hashtag.scrape(headers=headers)
     10

[/usr/local/

[2022-07-10 13:26] thomasperge commented on #160
same, help please

[2022-07-26 12:45] santimorales0326 opened #164 "JSONDecodeError within scrape() method"
Hi everyone!

Got an JSONDecodeError error after running the following code. I suspect it has to do with the **source** recognition as soup rather than string

from instascrape import *

'# Instantiate the scraper objects
google = Profile('https://www.instagram.com/google/')
google_post = Post('https://www.instagram.com/p/CG0UU3ylXnv/')
google_hashtag = Hashtag('https://www.instagram.com/explore/t

[2022-07-28 07:43] esvban commented on #164
i tried going through this with the debugger.

I don't know the original intent of this code, or how it worked before https://github.com/chris-greening/instascrape/blob/master/instascrape/core/json_algos.py#L75

but basically the json strings returned by this filter are not all pure json data, but also contain javascript code. Checking for any script tag with 'config' in it is not the correct way

[2022-07-28 21:07] santimorales0326 commented on #164
Thank you for your quick response.

Do you know how efficient scrapping with Facebook dev API is? I'd
appreciate any resource that you can provide.

On Thu, Jul 28, 2022 at 9:43 AM Stephen Hopkins ***@***.***>
wrote:

[2022-07-31 02:09] esvban commented on #164
I don't know too much about the API, except it is only usable by registered  and most likely required to be approved, facebook integrated applications.

[2022-08-03 15:23] whatayush opened #165 "I want to grab the recent reels video views from the profile page (username/reels/)? Is that possible?"
Hi,

Basically I don't want individual posts data but I want to give it a url for example https://www.instagram.com/cristiano/reels/ and then grab all the view counts from recent reels that are visible.

![image](https://user-images.githubusercontent.com/104263942/182646326-681a3b72-a455-4282-8f45-9523d5262a8c.png)

I am bit of a noob so just wondering if this is possible or not?

[2022-11-23 17:00] ivangoranov commented on #164
Hi there, has anybody solved this yet?